body {
    background: rgb(227, 197, 151);
    color: rgb(66, 66, 64);
    text-align: center;

}

h1,
h3 {
    color: rgb(59, 9, 129);
    letter-spacing: 3px;
    font-size: 30px;
}

p {
    
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 2;
}

.cat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}


.loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #2a1165;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    
}

// // .loaderBox {
// //       display: flex;
// //       align-items: center;
// //       justify-content: center;
// //       margin-top: 20px;
      
// // }

// .breed-select {
//     width: 200px;
//     font-size: 16px;
//     padding: 8px;   
//     border: 1px solid #ccc;     
//     border-radius: 4px;  
//     background-color: #111111;
    
// }

.hidden {
    display: none;
}

.breedsImage {
    display: block;
    width: 500px;
    height: auto;
    padding: 15px;
}




@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}